body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header{
    width: 100%;
    background: #03182e;
    height: 50px;
}

header .navBar .navLinks ul{
    display: inline-flex;

}
header .navBar .navLinks ul li {
    padding: 15px;
}

header .navBar .navLinks ul li a {
    color: #f4f4f4;
    text-decoration: none;
    padding: 5px;

}
.bi{
    color: white;

}


.container header{
    margin: 0;
    padding: 0;
}

.By{
    font-size: 0.7em;
    margin-left: 20px;

}
.SurTitle{
    font-size: 0.6em;
    margin-left: 20px;

}



.container {
    max-width: 850px;
    margin-right:400px;
    padding: 20px;
    background-color: white;
}


.title {

    padding-bottom: 10px;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

h2 {
    font-size: 1.5em;
    color: #666;
    margin: 0;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.bio {
    flex: 3.5;
    margin-right: 50px;
}

.sidebar {
    flex: 2;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
}

.photo img {
    width: 100%;
    height: auto;
}

.photo p {
    text-align: left;
    margin: 10px 0 0 0;
}

.info p {
    margin: 10px 0;
}

.info a {
    display: block;
    margin-top: 10px;
    color: #1c45a4;
    text-decoration: none;
    text-align: center;
    border: solid 1px #bec4c5;
    border-radius: 8px;
}

.info a:hover {
    text-decoration: underline;
}

.bio p{
    padding: 20px 20px;
    word-spacing : 8px;
}

.toolLinks i{
    color: #12429b;
}

.optionBar .toolLinks ul{
    display: flex;
}
.optionBar .toolLinks ul li{
    margin: 15px;
    border: solid #cecbcb 1px;
    border-radius: 5px;
    padding: 5px;

}
.optionBar .toolLinks ul li .bi{
}
.test{
    display: flex;
    justify-content: center;
    border-bottom: solid 1px #d0c8c8;
    margin-bottom: 10px;
    margin-top: 10px;
}

.sidebar p{
    justify-content: flex-end;
}

.navBar .menuHamburger{
    display: none;
    width: 30px;
    position: absolute;
    top: 13px;
    left: 10px;
}


@media  screen and (max-width: 1000px) {
    .navBar .britanicaLogo{
        display: flex;
        justify-content: center;
    }
    .britanicaLogo{
        padding-top: 13px;
        color: #f4f4f4;
    }
    .navBar .menuHamburger{
        display: block;
    }

    .navBar .navLinks ul{
        display: flex;
        flex-direction: column;

    }

    .navLinks{
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: rgba(239, 251, 246, 0.44);
        backdrop-filter: blur(9px);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }
    .navLinks.mobile-menu{
            margin-left: 0;
    }

    .container{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .content{
        display: inline;
        width: 90%;
    }
}

